<div id="nav">
    <ul class="menu">
        <li class="current_page_item">
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="/card">Cards</a>
            <ul class="sub-menu">
                <li>
                    <a href="project.html">Latest Project</a>
                </li>
                <li>
                    <a href="#">Branding</a>
                </li>
                <li>
                    <a href="#">Online Marketing</a>
                </li>
                <li>
                    <a href="#">Search Engine Optimization</a>
                </li>
                <li>
                    <a href="#">Web Design 1</a>
                </li>
                <li>
                    <a href="#">Web Design 2</a>
                </li>
                <li>
                    <a href="#">Web Design 3</a>
                </li>
                <li>
                    <a href="#">Web Design 4</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/category">Categories</a>
        </li>
        <li>
            <a href="/meaning">Meaning</a>
        </li>
        <li>
            <a href="/reading">Readings</a>
        </li>
        <li>
            <a href="/reading_session">Reading Sessions</a>
        </li>
        <li>
            <a href="/spread">Spreads</a>
        </li>
        <li>
            <a href="/spread_component">Spread Components</a>
        </li>


    </ul>
</div>
<!--end nav-->