<div id="nav">
    <ul class="menu">
        <li class="current_page_item">
            <a [routerLink]="['/card/list']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/card/list']">Cards</a>
            <ul class="sub-menu">
                <li>
                    <a [routerLink]="['/card/list']">List</a>
                </li>
                <li>
                    <a [routerLink]="['/card/add']">Add</a>
                </li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/category/list']">Categories</a>
            <ul class="sub-menu">
                <li>
                    <a [routerLink]="['/category/list']">List</a>
                </li>
                <li>
                    <a [routerLink]="['/category/add']">Add</a>
                </li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/meaning/list']">Meaning</a>
            <ul class="sub-menu">
                <li>
                    <a [routerLink]="['/meaning/list']">List</a>
                </li>
                <li>
                    <a [routerLink]="['/meaning/add']">Add</a>
                </li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/reading/list']">Readings</a>
            <ul class="sub-menu">
                <li>
                    <a [routerLink]="['/reading/list']">List</a>
                </li>
                <li>
                    <a [routerLink]="['/reading/add']">Add</a>
                </li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/reading-session/list']">Reading Sessions</a>
            <ul class="sub-menu">
                <li>
                    <a [routerLink]="['/reading-session/list']">List</a>
                </li>
                <li>
                    <a [routerLink]="['/reading-session/add']">Add</a>
                </li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/spread/list']">Spreads</a>
            <ul class="sub-menu">
                <li>
                    <a [routerLink]="['/spread/list']">List</a>
                </li>
                <li>
                    <a [routerLink]="['/spread/add']">Add</a>
                </li>
            </ul>
        </li>
        <li>
            <a [routerLink]="['/spread-component/list']">Spread Components</a>
            <ul class="sub-menu">
                <li>
                    <a [routerLink]="['/spread-component/list']">List</a>
                </li>
                <li>
                    <a [routerLink]="['/spread-component/add']">Add</a>
                </li>
            </ul>
        </li>


    </ul>
</div>
<!--end nav-->

